/* Estilo del header haciendo uso de flex */
body{
  margin: 0;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
}

.container{
  margin: 0 auto;
  max-width: 1024px;
}

header{
  background: #1d252c;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 70px;
  position: relative;
  box-shadow: 0 10px 10px 0px rgba(5, 5, 5, 0.4);
}

.logo img{
  height: 70px;
  padding: 0 0 0 20px;
}

.menu{
  height: inherit;
}

.menu ul{
  height: inherit;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li{
  display: flex;
  align-items: center;
  list-style: none;
  height: inherit;
  width: auto;
}

.menu a{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  height: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  padding: 0 10px;
}

.work2{
  padding: 0px 20px 0px 10px;
}

.hero{
  display: flex;
  background-color: #1d252c;
  margin-top: 0;
  height: 300px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1{
  font-size: 40px;
  padding: 0 30px;
  color: white;
  letter-spacing: 2px;
  line-height: 1.2;
  box-sizing: border-box;
  width: 50%;
}

h1 strong{
  color: #0c60d9;
}

.hero img{
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.portfolio{
  background-color: #fafafa;
  padding: 20px;
}

.portfolio-title{
  color: #026fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  padding-left: 25px;
  margin-top: 26px;
  margin-bottom: 46px;
  padding-left: 26px;
}

.project{
  padding: 26px;
  background-color: white;
  box-shadow: 0px 0px 15px 1px rgba(224, 224, 224,1);
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.project div{
  width: 48%;
}

.project-left-content{
  text-align: left;

}

.project-right-content{
  text-align: right;
}

.project-title{
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.project-stack{
  margin-top: 0;
  margin-bottom: 0.7em;
  color: #717171;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.project-date{
  margin-top: 0;
  margin-bottom: 0.6em;
}

.project-date span{
  color: #717171;
}

.project-url{
  margin-top: 0;
}

.project-url a{
  color: #717171;
}

.project-description{
  margin-top: 1.8em;
  line-height: 1.5em;
  font-size: 18px;
}

.project-right-content img{
  width: 500px;
}